<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="games_wrapper">
        <h2>Choise the game:</h2>
        <ul>
            <li><a href="/gamemaster/<%= gmId %>/3471fd37-4f89-4832-9ab3-31d7e255be73">Дебаты</a></li>
            <li><a href="/gamemaster/<%= gmId %>/8a8f4fbc-d09d-4a33-a794-92a384e0335b">Своя игра</a></li>
        </ul>
    </div>
</body>
</html>