<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
    <title>Таблица лидеров</title>
</head>

<body>
    <header>
        <nav class="control">
            <div class="navigation">
                <a href="/" class="to__main">На главную</a>
            </div>
            <span class="page_title">Вы вошли как </span>
        </nav>
    </header>
    <main class="adminpanel">
        <div class="judge_table">
            <table>
                <thead>
                    <tr>
                        <th>Участник</th>
                        <th>Конкурс №1</th>
                        <th>Конкурс №2</th>
                        <th>Конкурс №3</th>
                        <th>Конкурс №4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="">
                        <td>Никита Таранюк или кто побольше</td>
                        <td>
                            <select id="contest1-id" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </td>
                        <td>
                            <select id="contest2-id" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </td>
                        <td>
                            <select id="contest3-id" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </td>
                        <td>
                            <select id="contest4-id" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr id="">
                        <td></td>
                        <td>
                            <button class="confirm_mark">Подтверить</button>
                        </td>
                        <td>
                            <button class="confirm_mark">Подтверить</button>
                        </td>
                        <td>
                            <button class="confirm_mark">Подтверить</button>
                        </td>
                        <td>
                            <button class="confirm_mark">Подтверить</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</body>
<script>
    // Визуал
    let accords = document.querySelectorAll(".accord_btn");
    accords.forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle("active_accord");
            let panel = elem.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 200 + "px";
            }
        });
    });
    let request = new XMLHttpRequest()
    // функции сортировки
    function byFieldToUp(field) {
        return (a, b) => a[field] > b[field] ? 1 : -1;
    }
    function byFieldToDown(field) {
        return (a, b) => a[field] > b[field] ? -1 : 1;
    }
    // отправка оценки
    document.querySelectorAll('.confirmMark').forEach(confirmBtn => {
        confirmBtn.addEventListener('click', () => {
            areYourShureAbouThat = confirm('Подтвердите оценку')
            if (areYourShureAbouThat) {
                memberMark = document.forms[`${confirmBtn.id}`].elements['addPoints'].value
                judgefio = ``;
                member = JSON.stringify({
                    id: confirmBtn.id,
                    name: confirmBtn.dataset.memberName,
                    mark: memberMark,
                    judge: judgefio
                })
                request.open("POST", `/rate/${document.getElementsByName('judge').id}`, true);
                request.setRequestHeader("Content-Type", "application/json");
                request.send(member);
            }
        })
    })
</script>

</html>