<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
    <title>Таблица лидеров</title>
</head>

<body>
    <header>
        <nav class="control">
            <div class="navigation">
                <a href="/" class="to__main">На главную</a>
            </div>
            <span class="page_title" id="<%= judge.id %>">Вы вошли как <%= judge.fio %></span>
        </nav>
    </header>
    <main class="adminpanel">
        <div class="judge_table">
            <table>
                <thead>
                    <tr>
                        <th>Участник</th>
                        <th>Конкурс №1</th>
                        <th>Конкурс №2</th>
                        <th>Конкурс №3</th>
                        <th>Конкурс №4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="00fff869-d5a2-4767-b91e-37fadbb517fb">
                        <td>Агапов Андрей</td>
                        <td>
                            <select id="a5bbc8b4-a495-413b-ad4f-3f8d34a44514" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td>
                            <select id="3471fd37-4f89-4832-9ab3-31d7e255be73" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td>
                            <select id="afbcd039-0f93-4bd1-b25e-18feefd20c64" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td>
                            <select id="86528315-ff6a-4e51-b01a-934bcf9f16a2" style="width: 100%;">
                                <option value="" selected disabled="disabled"></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr id="">
                        <td></td>
                        <td>
                            <button class="confirm_mark" id="btn-confirm_a5bbc8b4-a495-413b-ad4f-3f8d34a44514">Подтверить</button>
                        </td>
                        <td>
                            <button class="confirm_mark" id="btn-confirm_3471fd37-4f89-4832-9ab3-31d7e255be73">Подтверить</button>
                        </td>
                        <td>
                            <button class="confirm_mark" id="btn-confirm_afbcd039-0f93-4bd1-b25e-18feefd20c64">Подтверить</button>
                        </td>
                        <td>
                            <button class="confirm_mark" id="btn-confirm_86528315-ff6a-4e51-b01a-934bcf9f16a2">Подтверить</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</body>
<script>
    // Визуал
    let accords = document.querySelectorAll(".accord_btn");
    accords.forEach((elem) => {
        elem.addEventListener("click", () => {
            elem.classList.toggle("active_accord");
            let panel = elem.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 200 + "px";
            }
        });
    });
    // функции сортировки
    function byFieldToUp(field) {
        return (a, b) => a[field] > b[field] ? 1 : -1;
    }
    function byFieldToDown(field) {
        return (a, b) => a[field] > b[field] ? -1 : 1;
    }
    // отправка оценки
    document.querySelectorAll('.confirm_mark').forEach(confirmBtn => {
        let contest_id
        confirmBtn.addEventListener('click', () => {
            contest_id = confirmBtn.id.slice(12)
            let marks_filds = document.querySelectorAll(`#${contest_id}`)
            let marks = {
                    contestId: contest_id,
                    results: {}
                }
            areYourShureAbouThat = confirm('Подтвердите выставленные оценки за конкурс.')
            if (areYourShureAbouThat) {
                marks_filds.forEach(mark => {
                    confirmBtn.setAttribute('disabled', 'disabled')
                    confirmBtn.style.opacity = "0.5"
                    mark.setAttribute('disabled', 'disabled')
                    marks.results[mark.parentElement.parentElement.id] = mark.value
                })
                console.log(marks);
                sendRequest('PATCH', `/judge/${document.querySelector('.page_title').id}`, marks)
            }
        })
    })
    let xhr = new XMLHttpRequest()
        // отправка данных
        function sendRequest(method, requestURL, body = null) {
            return new Promise((resolve, reject) => {
                xhr.open(method, requestURL)
                xhr.responseType = "json"
                xhr.setRequestHeader('Content-Type', 'application/json')
                xhr.onload = () => {
                    if (xhr.status >= 400) reject(xhr.response);
                    else resolve(xhr.response);
                }
                xhr.onerror = () => {
                    reject(xhr.response);
                }
                if (body != null) body = JSON.stringify(body)
                xhr.send(body)
            })
        }
</script>

</html>