<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
    <title>Таблица лидеров</title>
</head>

<body>
    <main>
        <% if (votingResults) { %>
        <div class="content_wrapper">
           <% for (let key in votingResults.tableinner) { %>
            <div class="vote_item">
                <span class="member"><%= key %></span>
                <span class="votes"><%= votingResults.tableinner[key] %></span>
                <div class="progress"></div>
            </div>
           <% } %>
        </div>
        <% } %>
    </main>
    <footer>
        <span class="author">Nikita Taranyuk</span>
        <span class="tech">Node JS / Express JS / EJS</span>
    </footer>
    <script>
        let vote_items = document.querySelectorAll('.vote_item')
        let votes_cont = document.querySelectorAll('.votes')
        let allVotes = 0
        let maxVotes = 0
        let progressWidth = 0
        votes_cont.forEach(item => {
            allVotes += Number(item.innerHTML)
            if (maxVotes < Number(item.innerHTML)) maxVotes = Number(item.innerHTML)
        })

        vote_items.forEach(item => {
            console.log(Math.round(Number(item.querySelector('.votes').innerHTML) * 100 / allVotes));
            item.querySelector('.progress').style.width = `${Math.round((Number(item.querySelector('.votes').innerHTML) * 100 / allVotes))}%`
            if (maxVotes == Number(item.querySelector('.votes').innerHTML)) item.querySelector('.progress').style.background = "#058240"
        })

        console.log(allVotes);
        // функции сортировки
        function byFieldToUp(field) {
            return (a, b) => a[field] > b[field] ? 1 : -1;
        }
        function byFieldToDown(field) {
            return (a, b) => a[field] > b[field] ? -1 : 1;
        }
    </script>

</body>

</html>